<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property
                name="connection.url">jdbc:mysql://localhost:3306/tallermjsr</property>
        <property name="hibernate.show_sql">true</property>
        <property
                name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory
        </property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name ="hibernate.connection.username">root</property>
        <property name ="hibernate.connection.password">root</property>
        <mapping resource="Pieza.hbm.xml"/>
        <mapping class="com.company.Pieza"/>
        <mapping class="com.company.Proveedor"/>
        <mapping resource="Proveedor.hbm.xml"/>
        <mapping class="com.company.Proyecto"/>
        <mapping resource="Proyecto.hbm.xml"/>
        <mapping class="com.company.Gestionglobal"/>
        <mapping resource="Gestionglobal.hbm.xml"/>


        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->

    </session-factory>
</hibernate-configuration>